@-webkit-keyframes colorPulse { 0% 
{background-color: #EBECF3;} 25% 
{background-color: #F1F6FD;} 50% 
{background-color: #EEFCF5;} 75% 
{background-color: #FEF9E8;} 100% 
{background-color: #FDF1EE;} -webkit-animation: pulse 60s infinite alternate; }

.colorPulse { -webkit-animation: colorPulse 21s infinite alternate; }


#showLoad {
	display: inline-block;
}

#hideLoad {
	display: none;
}

#showLoad2 {
	display: inline-block;
}

#hideLoad2 {
	display: none;
}

.emailLink {	
	text-decoration: none;
	}





.lato {
	font-family: 'Lato';
}


.muli {
	font-family: 'muli';
}


/* Basscss Utility Responsive States */

.sm-show,
.md-show,
.lg-show {
  display: none !important;
}

@media (min-width: 40em) {
  .sm-show {
    display: block !important;
  }
}

@media (min-width: 52em) {
  .md-show {
    display: inline-block !important;
  }
}

@media (min-width: 64em) {
  .lg-show {
    display: block !important;
  }
}

@media (min-width: 40em) {
  .sm-hide {
    display: none !important;
  }
}

@media (min-width: 52em) {
  .md-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}